<h3>Your allergies and aversions</h3>

<%= form_for @customer, url: {action: 'update_allergies'} do |f| %>
  <div class="row">
    <% @allergens.each do |allergen| %>
    <div class="col-md-4">
      <%= check_box_tag 'allergen_ids[]', allergen.id, @customer.allergen_ids.include?(allergen.id) %>
      <%= f.label allergen %>
    </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= f.submit "Save allergies", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

